<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LEVCAN_Configurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LEVCAN_Configurator.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="COMPrinter" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Connection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FSpath" serializeAs="String">
                <value>files</value>
            </setting>
            <setting name="PrinterText" serializeAs="String">
                <value>
%s


</value>
            </setting>
            <setting name="Speed" serializeAs="String">
                <value>1000000</value>
            </setting>
        </LEVCAN_Configurator.Properties.Settings>
    </userSettings>
</configuration>